<?xml version='1.0' encoding='utf-8'?>
<widget id="com.chinmaya.dodgeasteroids" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Dodge Asteroids</name>
    <description>
        Dodge the asteroids!
    </description>
    <author>
        Chinmaya Mahesh
    </author>
    <content src="index.html" />
    <preference name="permissions" value="none" />
    <preference name="orientation" value="portrait" />
    <plugin name="cordova-plugin-insomnia" />
    <plugin name="org.apache.cordova.device-motion" />
    <plugin name="org.apache.cordova.splashscreen" />
    <icon src="icon.png" />
       
</widget>
